[Desktop Entry]
Encoding=UTF-8
Name=Brainblast
GenericName=Brainblast
Exec=brainblast
Icon=brainblast
Terminal=false
Categories=Qt;KDE;Game;ArcadeGame;
