#!/usr/bin/make -f

PACKAGE = brainblast
ARCH    = $(shell dpkg-architecture -qDEB_HOST_ARCH)

debian/control: debian/control_template
	cp $? $@
	perl -p -i -e "s/^Architecture:.*/Architecture: ${ARCH}/g" $@

build:

binary: clean debian/control
	@ install -v -d debian/tmp/DEBIAN \
		-d debian/tmp/usr/games \
		-d debian/tmp/usr/share/games/$(PACKAGE)/images \
		-d debian/tmp/usr/share/games/$(PACKAGE)/sounds \
		-d debian/tmp/usr/share/games/$(PACKAGE)/music \
		-d debian/tmp/usr/share/games/$(PACKAGE)/lvl \
		-d debian/tmp/usr/share/app-install/icons \
		-d debian/tmp/usr/share/applications \
		-d debian/tmp/usr/share/doc/$(PACKAGE) \
		-d debian/tmp/usr/share/man/man6 \
		-d debian/tmp/usr/share/icons/default.kde/16x16/apps \
		-d debian/tmp/usr/lib
	@ cp -v ../src/$(PACKAGE) debian/tmp/usr/games
	strip -s debian/tmp/usr/games/$(PACKAGE)
	@ cp -v ../images/bb.dat debian/tmp/usr/share/games/$(PACKAGE)/images/
	@ cp -v ../images/bb_bg.dat debian/tmp/usr/share/games/$(PACKAGE)/images/
	@ cp -v ../images/bubblemad_8x8.png debian/tmp/usr/share/games/$(PACKAGE)/images/
	@ cp -v ../images/goldfont.png debian/tmp/usr/share/games/$(PACKAGE)/images/
	@ cp -v ../sounds/click.wav debian/tmp/usr/share/games/$(PACKAGE)/sounds/
	@ cp -v ../sounds/bounce.wav debian/tmp/usr/share/games/$(PACKAGE)/sounds/ 
	@ cp -v ../sounds/warning.wav debian/tmp/usr/share/games/$(PACKAGE)/sounds/
	@ cp -v ../music/enigmatic_path.it debian/tmp/usr/share/games/$(PACKAGE)/music/
	@ cp -v ../music/Acidstorm.it debian/tmp/usr/share/games/$(PACKAGE)/music/
	@ cp -v ../lvl/lvl???.txt debian/tmp/usr/share/games/$(PACKAGE)/lvl/
	@ cp -v debian/usr/share/app-install/icons/$(PACKAGE).png debian/tmp/usr/share/app-install/icons
	@ cp -v debian/usr/share/app-install/icons/$(PACKAGE).png debian/tmp/usr/share/icons/default.kde/16x16/apps/
	@ cp -v debian/usr/share/applications/$(PACKAGE).desktop debian/tmp/usr/share/applications
	@ cp -v debian/changelog debian/tmp/usr/share/doc/$(PACKAGE)/
	gzip -9 debian/tmp/usr/share/doc/$(PACKAGE)/changelog
	@ cp -v debian/copyright debian/tmp/usr/share/doc/$(PACKAGE)/
#	@ cp -v ../bassmod/libbassmod.so debian/tmp/usr/lib/
	@ cp -v ../fmod/api/libfmod-3.75.so debian/tmp/usr/lib/
	pod2man debian/usr/share/man/$(PACKAGE).pod > debian/tmp/usr/share/man/man6/$(PACKAGE).6
	gzip -9 debian/tmp/usr/share/man/man6/$(PACKAGE).6
	dpkg-shlibdeps debian/tmp/usr/games/$(PACKAGE)
	dpkg-gencontrol
	chown -R root.root debian/tmp
	dpkg --build debian/tmp .
	@echo "== Remember to test using lintian =="

clean: verify
	rm -rf debian/tmp

verify:
	@ if [ "`whoami`" != "root" ] ; then  \
		echo "You must be root"; \
		exit 1;                  \
	fi
	test -d debian && test -f correct_directory

.PHONY: clean build binary
